:root {
  --primary: rgb(70, 83, 52);
  --bg: #010101;
  --cerah: rgb(135, 201, 28);
  --saskeh: rgba(164, 228, 158, 0.734);
  --hamburger-menu: #1502023b;
  --fff: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color:var(--fff);
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar-nav {
  color: #fff;
}

.str {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--saskeh);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--saskeh);
  transform: scaleX(0);
  transition: 0.5s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  margin: 0.5rem;
  color: #fff;
}

#goods-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 47rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form #search-box {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form .label {
  cursor: pointer;
  margin-right: 1.5rem;
  font-size: 2rem;
  color: var(--bg);
}

/* Shopping cart in Navbar */
.shopping-bag {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: var(--bg);
  color: var(--fff);
  transition: 0.5s linear;
}

.shopping-bag.active {
  right: 0;
}

.bag-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 16px;
  border-bottom: 1px dashed #666;
  position: relative;
}
.img-shopping-bag {
  width: 96px;
  height: 96px;
  /* border-radius: 50%; */
}

.item-detail h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.item-price {
  font-size: 1.2rem;
}

.bag-item .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.bag-item .remove-item:hover {
  color: var(--primary);
}

/* Hero Section */

.hero {
  min-height: 110vh;
  display: flex;
  align-items: center;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 40%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.gede {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.membeli {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /*mix-blend-mode: difference;*/
}

.cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*All Section*/
.about,
.goods,
.pre-order,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.goods h2,
.pre-order h2,
.contact h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

.about h2 span,
.goods h2 span,
.pre-order h2 span,
.contact span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 34rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.6;
}

.why,
.p1,
.p2 {
  position: relative;
  left: 20px;
}

.goods p,
.pre-order p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6;
}

.goods .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.things-card1,
.things-card2,
.things-card3,
.things-card4,
.things-card5,
.things-card6 {
  text-align: center;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  padding-bottom: 2rem;
}

.things-card-img1,
.things-card-img2,
.things-card-img3,
.things-card-img4 {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.things-card .things-card-title {
  margin: 1rem auto 0.5rem;
}

.things-card1 .things-card-price1,
.things-card2 .things-card-price2,
.things-card3 .things-card-price3,
.things-card4 .things-card-price4,
.things-card5 .things-card-price5,
.things-card6 .things-card-price6 {
  font-weight: 250;
}

.things-card-title1 span,
.things-card-title2 span,
.things-card-title3 span,
.things-card-title4 span,
.things-card-title5 span,
.things-card-title6 span {
  color: var(--primary);
}

/* Goods section end */

/* Item-PO-start */
.pre-order .row-pre-order {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.item-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.item-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.item-icons a {
  width: 4rem;
  color: #fff;
  height: 4rem;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.item-image {
  padding: 1rem 0;
}

.item-image .img1 {
  width: 25rem;
  height: 25rem;
}

.item-content h3 {
  font-size: 32px;
}

.item-stars-1,
.item-stars-2,
.item-stars-3,
.item-stars-4 {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.item-stars-1 .star-1,
.item-stars-1 .star-2,
.item-stars-1 .star-3,
.item-stars-1 .star-4,
/* % */
.item-stars-2 .star-1,
.item-stars-2 .star-2,
.item-stars-2 .star-3,
.item-stars-2 .star-4,
.item-stars-2 .star-5,
/* % */
.item-stars-3 .star-1, 
.item-stars-3 .star-2, 
.item-stars-3 .star-3, 
.item-stars-3 .star-4,
/* % */
.item-stars-4 .star-1, 
.item-stars-4 .star-2, 
.item-stars-4 .star-3, 
.item-stars-4 .star-4 {
  fill: var(--primary);
}

.item-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.item-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* Contact section */

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row .form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */

footer {
  text-align: center;
  background-color: #222;
  padding: 2rem 0 2rem;
  margin-top: 3rem;
}

footer .socials {
  margin-bottom: 1rem;
  /*background-color: aqua;*/
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a .footer-icon {
  width: 2rem;
  height: 2rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1rem;
  /*background-color: aqua;*/
}

footer .credit a {
  color: var(--cerah);
  font-weight: 700;
}

/* Media Quries */

/* Laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #goods-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--hamburger-menu);
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scalex(0.3);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
    /*height: 24rem;
    object-fit: cover;
    object-position: center;*/
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .goods p {
    font-size: 1.2rem;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .form {
    padding-top: 0;
  }
  /* Goods Section */
  .things-card1,
  .things-card2,
  .things-card3,
  .things-card4,
  .things-card5,
  .things-card6 {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  .things-card-img1,
  .things-card-img2,
  .things-card-img3,
  .things-card-img4 {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
  }
  .things-card1 h3,
  .things-card2 h3,
  .things-card3 h3,
  .things-card4 h3,
  .things-card5 h3,
  .things-card6 h3 {
    font-size: 1rem;
  }
  .things-card1 p,
  .things-card2 p,
  .things-card3 p,
  .things-card4 p,
  .things-card5 p,
  .things-card6 p {
    font-size: 1rem;
  }

  /* Goods End */

  /* PO Section */
  .pre-order .row-pre-order {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }
  .item-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
  }

  .item-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .item-icons a {
    color: #fff;
    width: 2.3rem;
    height: 2.3rem;
    margin: 0.15rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }

  .item-image {
    padding: 1rem 0;
  }

  .item-image .img1 {
    width: 15rem;
    height: 15rem;
  }

  .item-content h3 {
    font-size: 10px;
  }

  .item-stars-1,
  .item-stars-2,
  .item-stars-3,
  .item-stars-4 {
    font-size: 0.7rem;
    padding: 0.4rem;
    color: var(--primary);
  }

  .item-stars-1 .star-1,
.item-stars-1 .star-2,
.item-stars-1 .star-3,
.item-stars-1 .star-4,
.item-stars-1 .star-4,
.item-stars-1 .star-5,
/* % */
.item-stars-2 .star-1,
.item-stars-2 .star-2,
.item-stars-2 .star-3,
.item-stars-2 .star-4,
.item-stars-2 .star-5,
/* % */
.item-stars-3 .star-1, 
.item-stars-3 .star-2, 
.item-stars-3 .star-3, 
.item-stars-3 .star-4,
.item-stars-3 .star-5,
/* % */
.item-stars-4 .star-1, 
.item-stars-4 .star-2, 
.item-stars-4 .star-3, 
.item-stars-4 .star-4, 
.item-stars-4 .star-5 {
    width: 12px;
    height: 12px;
  }

  .item-price {
    font-size: 0.65rem;
    font-weight: bold;
  }

  .item-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 0.5rem;
  }
}

/* Mobiles */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  /* PO Section */
  .pre-order .row-pre-order {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }
  .item-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
  }

  .item-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .item-icons a {
    color: #fff;
    width: 2rem;
    height: 2rem;
    margin: 0.15rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }

  .item-image {
    padding: 1rem 0;
  }

  .item-image .img1 {
    width: 12.5rem;
    height: 12.5rem;
  }

  .item-content h3 {
    font-size: 10px;
  }

  .item-stars-1,
  .item-stars-2,
  .item-stars-3,
  .item-stars-4 {
    font-size: 0.5rem;
    padding: 0.4rem;
    color: var(--primary);
  }

  .item-stars-1 .star-1,
.item-stars-1 .star-2,
.item-stars-1 .star-3,
.item-stars-1 .star-4,
.item-stars-1 .star-4,
.item-stars-1 .star-5,
/* % */
.item-stars-2 .star-1,
.item-stars-2 .star-2,
.item-stars-2 .star-3,
.item-stars-2 .star-4,
.item-stars-2 .star-5,
/* % */
.item-stars-3 .star-1, 
.item-stars-3 .star-2, 
.item-stars-3 .star-3, 
.item-stars-3 .star-4,
.item-stars-3 .star-5,
/* % */
.item-stars-4 .star-1, 
.item-stars-4 .star-2, 
.item-stars-4 .star-3, 
.item-stars-4 .star-4, 
.item-stars-4 .star-5 {
    width: 8px;
    height: 8px;
  }

  .item-price {
    font-size: 0.65rem;
    font-weight: bold;
  }

  .item-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 0.5rem;
  }
}
